<form name="serachForm" role="form">
  <div class="form-group">
    <label for="priductTitle">商品名称：</label>
    <input type="text" id="priductTitle" placeholder="商品名称" class="form-control">
  </div>
  <div class="form-group">
    <label for="priductPrice">商品价格：</label>
    <input type="text" id="priductPrice" placeholder="商品价格" class="form-control">
  </div>
  <div class="form-group">
    <label for="priductPriceCategory">商品价格：</label>
    <select id="priductPriceCategory" class="form-control"></select>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary btn-block">搜索</button>
  </div>
</form>
